--
-- PostgreSQL database dump
--

\restrict x6jjKBV58lA3bl3vymsElfCGf2UcSPJ05IX63sBvtnKA9WnvuNmm6VjV4Z2ned3

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: CostCategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CostCategory" AS ENUM (
    'energy',
    'gas',
    'packaging',
    'labor',
    'other'
);


ALTER TYPE public."CostCategory" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'USER'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: Unit; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Unit" AS ENUM (
    'g',
    'kg',
    'ml',
    'l',
    'un'
);


ALTER TYPE public."Unit" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: extra_costs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.extra_costs (
    id text NOT NULL,
    name text NOT NULL,
    category public."CostCategory" NOT NULL,
    "totalCost" double precision NOT NULL,
    "totalQty" double precision NOT NULL,
    unit text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.extra_costs OWNER TO postgres;

--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingredients (
    id text NOT NULL,
    name text NOT NULL,
    unit public."Unit" NOT NULL,
    "totalCost" double precision NOT NULL,
    "totalQty" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.ingredients OWNER TO postgres;

--
-- Name: product_extra_costs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_extra_costs (
    id text NOT NULL,
    quantity double precision NOT NULL,
    "productId" text NOT NULL,
    "extraCostId" text NOT NULL
);


ALTER TABLE public.product_extra_costs OWNER TO postgres;

--
-- Name: product_ingredients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_ingredients (
    id text NOT NULL,
    quantity double precision NOT NULL,
    "productId" text NOT NULL,
    "ingredientId" text NOT NULL
);


ALTER TABLE public.product_ingredients OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    name text NOT NULL,
    "timeMinutes" integer,
    "marginPct" double precision NOT NULL,
    "batchSize" integer DEFAULT 1 NOT NULL,
    "energyCost" double precision DEFAULT 0 NOT NULL,
    "gasCost" double precision DEFAULT 0 NOT NULL,
    "packCost" double precision DEFAULT 0 NOT NULL,
    "otherCost" double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    "passwordHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: extra_costs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.extra_costs (id, name, category, "totalCost", "totalQty", unit, "createdAt", "updatedAt", "userId") FROM stdin;
\.


--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_extra_costs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_extra_costs (id, quantity, "productId", "extraCostId") FROM stdin;
\.


--
-- Data for Name: product_ingredients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, name, "timeMinutes", "marginPct", "batchSize", "energyCost", "gasCost", "packCost", "otherCost", "createdAt", "updatedAt", "userId") FROM stdin;
cmne1rh9w000darryh5yp4aw1	Bolo de Pote	90	40	10	2.5	1.8	0.8	0	2026-03-31 03:18:12.02	2026-03-31 03:18:12.02	cmndsal7i0001qd4oxkrqa8c9
cmne1rha1000karryotifeu8s	Cookie Artesanal	45	18	24	1.2	0.8	0.3	0	2026-03-31 03:18:12.026	2026-03-31 03:18:12.026	cmndsal7i0001qd4oxkrqa8c9
cmne1rha5000qarry71n7twjt	Brigadeiro Gourmet	60	55	30	0.8	1.2	0.2	0.5	2026-03-31 03:18:12.029	2026-03-31 03:18:12.029	cmndsal7i0001qd4oxkrqa8c9
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: extra_costs extra_costs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.extra_costs
    ADD CONSTRAINT extra_costs_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: product_extra_costs product_extra_costs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_extra_costs
    ADD CONSTRAINT product_extra_costs_pkey PRIMARY KEY (id);


--
-- Name: product_ingredients product_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT product_ingredients_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: product_extra_costs_productId_extraCostId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "product_extra_costs_productId_extraCostId_key" ON public.product_extra_costs USING btree ("productId", "extraCostId");


--
-- Name: product_ingredients_productId_ingredientId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "product_ingredients_productId_ingredientId_key" ON public.product_ingredients USING btree ("productId", "ingredientId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: extra_costs extra_costs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.extra_costs
    ADD CONSTRAINT "extra_costs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ingredients ingredients_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT "ingredients_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_extra_costs product_extra_costs_extraCostId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_extra_costs
    ADD CONSTRAINT "product_extra_costs_extraCostId_fkey" FOREIGN KEY ("extraCostId") REFERENCES public.extra_costs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_extra_costs product_extra_costs_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_extra_costs
    ADD CONSTRAINT "product_extra_costs_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_ingredients product_ingredients_ingredientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT "product_ingredients_ingredientId_fkey" FOREIGN KEY ("ingredientId") REFERENCES public.ingredients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_ingredients product_ingredients_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT "product_ingredients_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict x6jjKBV58lA3bl3vymsElfCGf2UcSPJ05IX63sBvtnKA9WnvuNmm6VjV4Z2ned3

